<div
  class="border border-gray-100 shadow-md bg-gray-100 rounded-md p-4 h-full relative flex flex-col justify-between items-center"
>
  @if (isFavorite) {
    <app-icon
      [icon]="Icons.LOVE"
      class="absolute top-0 right-0"
      (click)="toggleFavorite()"
    ></app-icon>
  } @else {
    <app-icon
      [icon]="Icons.LIKE"
      class="absolute top-0 right-0 hover:text-gray-500 cursor-pointer"
      (click)="toggleFavorite()"
    ></app-icon>
  }
  <app-img-products 
    class="p-4"
    [ImgProductsType]="productImage"
  ></app-img-products>
  <p class="text-center whitespace-pre-line">{{productName}}</p>
  <p class="text-center font-semibold text-2xl">${{price}} </p>
  <app-button 
    class="p-4"
    label="Buy Now" variant="fill" size="S"
  ></app-button>
</div>
