<app-header-top></app-header-top>
<app-subnav></app-subnav>
<div class="border border-white bg-gray-100">
  <div class="border border-md border-white bg-white">
    <h1 class="text-2xl font-semibold">Your wishlist has {{ favoriteCount }} items</h1>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-5">
      @for (p of favoriteProducts; track p.name) {
        <app-product-card 
          [isFavorite]="p.isFavorite"
          [productImage]="p.image"
          [productName]="p.name"
          [price]="p.price"
        ></app-product-card>
      }
    </div>
  </div>
  
</div>