<div class="flex items-center gap-2">
  <!-- Icon -->
  <div class="cursor-pointer" (mousedown)="toggle()">
    <app-icon [icon]="checked ? Icons.CHECK_BOX_TRUE : Icons.CHECK_BOX_FALSE"></app-icon>
  </div>

  <!-- Text + Number (nếu có) -->
  @if (text) {
    <span
      class="cursor-pointer select-none"
      (mousedown)="toggle()"
    >
      {{ text }}
      @if (number !== undefined) {
        <span class="text-gray-400 font-normal">
          {{ number }}
        </span>
      }
    </span>
  }
</div>
