<div 
  class="hidden md:grid items-center w-full bg-white border border-gray-300 shadow-sm p-4"
  [style.gridTemplateColumns]="gridTemplateColumns"
>
  <div></div>
  <app-logo [logoType]="LogoTypes.DARK"></app-logo>
  <app-search-field (searchChange)="onSearch($event)" ></app-search-field>

  <app-menu-ht [items]="menuItems" [startColumn]="4"></app-menu-ht>

  <div class="grid grid-flow-col gap-5 pl-8">
    <app-icon 
    class="cursor-pointer hover:scale-110 transition"
    [icon]="Icons.FAVORITES"
    [routerLink]="'/favorites'"
    ></app-icon>

    <app-icon 
      class="cursor-pointer hover:scale-110 transition"
      [icon]="Icons.CART"
      [routerLink]="'/cart'"
    ></app-icon>

    <app-icon 
      class="cursor-pointer hover:scale-110 transition"
      [icon]="Icons.USER"
      [routerLink]="'/user'"
    ></app-icon>
  </div>
  

  <div></div>
</div>


  <div class="flex bg-white md:hidden items-center justify-between w-full h-[56px] ">
    <app-logo></app-logo>
    <app-icon 
    [icon]="Icons.BURGER" 
    class="cursor-pointer hover:scale-110 transition"
    (click)="toggleMenu()"
  ></app-icon>
  </div>

  <!-- 📱 MOBILE DROPDOWN MENU -->
  @if (isMenuOpen()) {
    <div class="md:hidden flex flex-col items-start gap-4 px-4 pb-4 border-t border-gray-200 bg-white transition-all duration-200 ease-in-out">
      <app-search-field (searchChange)="onSearch($event)"></app-search-field>
       @for (item of menuItems; track item.path) {
      <div 
        class="font-medium cursor-pointer hover:text-black text-gray-500"
        routerLinkActive="text-black font-semibold"
        [routerLink]="item.path"
        (mousedown)="toggleMenu()"
      >
        {{ item.label }}
      </div>
    }

    <!-- ICONS -->
    <div class="hover:scale-110 transition">    
      <app-icon [icon]="Icons.FAVORITES" [routerLink]="'/favorites'"></app-icon>
      <app-icon [icon]="Icons.CART" [routerLink]="'/cart'"></app-icon>
      <app-icon [icon]="Icons.USER" [routerLink]="'/user'"></app-icon>
    </div>
    </div>
  }

