<app-header-top></app-header-top>

<app-img-products [ImgProductsType]="ImgProductsTypes.BANNER"></app-img-products>
<app-img-products [ImgProductsType]="ImgProductsTypes.SMALLER_BANNERS"></app-img-products>

<div class="flex items-center justify-between py-10 px-40">
  <p class="text-2xl">Browse By Category</p>
  <div class="flex items-center">
    <app-icon [icon]="Icons.ARROWA"></app-icon>
    <app-icon [icon]="Icons.ARROWB"></app-icon>
  </div>  
</div>
<div class="flex items-center justify-between px-40 grid-cols-6">
  <app-category-card [categoryName]="'Phone'" [imageUrl]="Icons.PHONES_BIG"></app-category-card>
  <app-category-card [categoryName]="'Smart Watches'" [imageUrl]="Icons.SMART_WATCHES_BIG"></app-category-card>
  <app-category-card [categoryName]="'Cameras'" [imageUrl]="Icons.CAMERAS"></app-category-card>
  <app-category-card [categoryName]="'Headphones'" [imageUrl]="Icons.HEADPHONES_BIG"></app-category-card>
  <app-category-card [categoryName]="'Computers'" [imageUrl]="Icons.COMPUTERS_BIG"></app-category-card>
  <app-category-card [categoryName]="'Gaming'" [imageUrl]="Icons.GAMING_BIG"></app-category-card> 
</div>



