<app-header-top></app-header-top>

<!-- ===========================BANNER1================================== -->
<div class="border bg-zinc-800 pt-8 px-6 md:pt-10 md:px-40 md:flex items-center justify-between gap-10">

  <div class="text-center md:text-left">
    <p class="text-gray-400 text-2xl md:text-3xl">Pro.Beyond.</p>

    <div class="flex flex-col md:flex-row gap-2 md:gap-5 my-5 justify-center md:justify-start">
      <p class="text-gray-200 text-6xl md:text-8xl font-extralight">IPhone 14</p>
      <p class="text-gray-200 text-6xl md:text-8xl font-semibold">Pro</p>
    </div>
    <p class="text-gray-400 text-xl md:text-2xl my-5 max-w-xl mx-auto md:mx-0">Created to change everything for the better. For everyone</p>

    <div class="flex justify-center mb-1 md:justify-start">
      <app-button 
        [variant]="'white'" 
        [label]="'Shop Now'" 
        [size]="'I'" 
        [customSizeClass]="'w-[191px] h-[56px]'"
      ></app-button>
    </div>
  </div>
  
  <div class="mt-10 md:mt-0 flex justify-center md:justify-end">
    <app-img-products [ImgProductsType]="ImgProductsTypes.IP"></app-img-products>
  </div>
  
</div>

<!-- ===========================BANNER2================================== -->
<div class="grid grid-cols-1 md:grid-cols-4 md:grid-rows-2">
  
  <!-- Hàng 1, Cột 1-2: Playstation 5 -->
  <div class="md:col-span-2 bg-white flex flex-col md:flex-row items-center order-3 md:order-none">
    <!-- Ảnh: chiếm 2/5 bên trái -->
    <div class="w-full md:w-2/5 flex justify-center">
      <app-img-products class="md:hidden" [ImgProductsType]="ImgProductsTypes.PLAY_STATION"></app-img-products>
      <app-img-products class="hidden md:block" [ImgProductsType]="ImgProductsTypes.PLAY_STATION_DK"></app-img-products>
    </div>

    <div class="flex flex-col justify-center p-10 md:w-3/5">
      <div class="flex gap-2 text-4xl md:text-6xl">
        <p>Playstation</p>
        <p>5</p>
      </div>
      <p class="text-gray-500 mt-3">
        Incredibly powerful CPUs, GPUs, and an SSD with integrated I/O will redefine your PlayStation experience.
      </p>
    </div>
  </div>

  <!-- Hàng 1, Cột 3-4 + Hàng 2, Cột 3-4: Macbook Air -->
  <div class="md:col-span-2 md:row-span-2 bg-gray-100 flex flex-col md:flex-row items-center order-4 md:order-none">
    <div class="flex flex-col justify-center order-2 md:order-1 p-10 md:w-3/5">
      <div class="flex flex-row gap-2 text-4xl md:flex-col md:text-6xl">
        <p class="font-extralight">Macbook</p>
        <p class="font-semibold">Air</p>
      </div>
      <p class="text-gray-500 mt-3">
        The new 15-inch MacBook Air makes room for more of what you love with a spacious Liquid Retina display.
      </p>
      <app-button
        [variant]="'black'"
        [label]="'Shop Now'"
        [size]="'I'"
        [customSizeClass]="'w-[200px] h-[48px]'"
        class="mt-4">
      </app-button>
    </div>

    <div class="w-full md:w-2/5 flex justify-center order-1 md:order-2">
      <app-img-products class="md:hidden" [ImgProductsType]="ImgProductsTypes.MAC_BOOK_AIR"></app-img-products>
      <app-img-products class="hidden md:block" [ImgProductsType]="ImgProductsTypes.MAC_BOOK_AIR_DK"></app-img-products>
    </div>
  </div>

  <!-- Hàng 2, Cột 1: Apple AirPods Max -->
  <div class="bg-white flex flex-col md:flex-row items-center order-1 md:order-none">
    <div class="w-full md:w-1/3 flex justify-center">
      <app-img-products class="md:hidden" [ImgProductsType]="ImgProductsTypes.AIR_PODS_MAX"></app-img-products>
      <app-img-products class="hidden md:block" [ImgProductsType]="ImgProductsTypes.AIR_PODS_MAX_DK"></app-img-products>
    </div>

    <div class="flex flex-col justify-center md:w-2/3 p-6">
      <div class="gap-2 text-3xl flex flex-row md:flex-col">
        <p>Apple AirPods</p>
        <p class="font-semibold">Max</p>
      </div>
      <p class="text-gray-500 mt-2">Computational audio. Listen, it's powerful.</p>
    </div>
  </div>

  <!-- Hàng 2, Cột 2: Apple Vision Pro -->
  <div class="bg-zinc-900 text-white flex flex-col md:flex-row items-center order-2 md:order-none">
    <div class="w-full md:w-1/3 flex justify-center">
      <app-img-products class="md:hidden" [ImgProductsType]="ImgProductsTypes.APPLE_VISION"></app-img-products>
      <app-img-products class="hidden md:block" [ImgProductsType]="ImgProductsTypes.APPLE_VISION_DK"></app-img-products>
    </div>

    <div class="flex flex-col justify-center md:w-2/3 p-6">
      <div class="gap-2 text-3xl flex flex-row md:flex-col">
        <p>Apple Vision</p>
        <p class="font-semibold">Pro</p>
      </div>
      <p class="text-gray-400 mt-2">An immersive way to experience entertainment.</p>
    </div>
  </div>
</div>









<!-- ===========================Category Cards================================== -->

<div class="flex items-center justify-between py-10 px-40">
  <p class="text-2xl">Browse By Category</p>
  <div class="flex items-center">
    <app-icon [icon]="Icons.ARROWA"></app-icon>
    <app-icon [icon]="Icons.ARROWB"></app-icon>
  </div>  
</div>
<div class="flex items-center justify-between px-40 grid-cols-6">
  <app-category-card [categoryName]="'Phone'" [imageUrl]="Icons.PHONES_BIG"></app-category-card>
  <app-category-card [categoryName]="'Smart Watches'" [imageUrl]="Icons.SMART_WATCHES_BIG"></app-category-card>
  <app-category-card [categoryName]="'Cameras'" [imageUrl]="Icons.CAMERAS"></app-category-card>
  <app-category-card [categoryName]="'Headphones'" [imageUrl]="Icons.HEADPHONES_BIG"></app-category-card>
  <app-category-card [categoryName]="'Computers'" [imageUrl]="Icons.COMPUTERS_BIG"></app-category-card>
  <app-category-card [categoryName]="'Gaming'" [imageUrl]="Icons.GAMING_BIG"></app-category-card> 
</div>

<div class="flex items-center gap-10 mt-40 px-40 text-xl text-gray-400">
  <p>New Arrival</p>
  <p>Bestseller</p>
  <p>Featured Products</p>
</div>

<div class="grid grid-cols-4 px-40 mt-10 gap-5">
  <app-product-card 
  [isFavorite]="false" 
  [productImage]="ImgProductsTypes.IP14PRO1" 
  [productName]="'Apple iPhone 14 Pro Max 128GB Deep Purple'"
  [price]="900"
  ></app-product-card>

  <app-product-card 
  [isFavorite]="false" 
  [productImage]="ImgProductsTypes.CAMERA6K" 
  [productName]="'Blackmagic Pocket Cinema Camera 6K'"
  [price]="2535"
  ></app-product-card>

  <app-product-card 
  [isFavorite]="false" 
  [productImage]="ImgProductsTypes.APPLE_WATCH9GPS" 
  [productName]="'Apple Watch Series 9 GPS 41mm Starlight Aluminium'"
  [price]="399"
  ></app-product-card>

  <app-product-card 
  [isFavorite]="false" 
  [productImage]="ImgProductsTypes.AIR_PODS" 
  [productName]="'AirPods Max Silver Starlight Aluminium'"
  [price]="549"
  ></app-product-card>

  <app-product-card 
  [isFavorite]="false" 
  [productImage]="ImgProductsTypes.WATCH6" 
  [productName]="'Samsung Galaxy Watch6 Classic 47mm Black'"
  [price]="369"
  ></app-product-card>

  <app-product-card 
  [isFavorite]="true" 
  [productImage]="ImgProductsTypes.ZFOLD5" 
  [productName]="'Galaxy Z Fold5 Unclocked | 256GB | Phantom Black'"
  [price]="1799"
  ></app-product-card>

  <app-product-card 
  [isFavorite]="false" 
  [productImage]="ImgProductsTypes.BUDS_FE" 
  [productName]="'Galaxy Buds FE\nGraphite'"
  [price]="99.99"
  ></app-product-card>

  <app-product-card 
  [isFavorite]="false" 
  [productImage]="ImgProductsTypes.IPAD9" 
  [productName]="'Apple iPad 9 10.2 64GB Wi-Fi Silver (MK2L3) 2021'"
  [price]="398"
  ></app-product-card>
  

</div>

