<div class="py-5 grid items-center w-full border bg-black "
  [style.gridTemplateColumns]="gridTemplateColumns">
  <div></div>
  <app-icon [icon]="Icons.PHONES"></app-icon>
  <div class="font-medium cursor-pointer text-gray-400">Phones</div>
  <app-icon [icon]="Icons.DEVIDER"></app-icon>
  <app-icon [icon]="Icons.COMPUTERS"></app-icon>
  <div class="font-medium cursor-pointer text-gray-400">Computers</div>
  <app-icon [icon]="Icons.DEVIDER"></app-icon>
  <app-icon [icon]="Icons.GAMING"></app-icon>
  <div class="font-medium cursor-pointer text-gray-400">Smart Watches</div>
  <app-icon [icon]="Icons.DEVIDER"></app-icon>
  <app-icon [icon]="Icons.CAMERAS"></app-icon>
  <div class="font-medium cursor-pointer text-gray-400">Cameras</div>
  <app-icon [icon]="Icons.DEVIDER"></app-icon>
  <app-icon [icon]="Icons.HEADPHONES"></app-icon>
  <div class="font-medium cursor-pointer text-gray-400">Headphones</div>
  <app-icon [icon]="Icons.DEVIDER"></app-icon>
  <app-icon [icon]="Icons.GAMING"></app-icon>
  <div class="font-medium cursor-pointer text-gray-400">Gaming</div>
  <div></div>
</div>