<div class="py-5 grid items-center w-full border bg-gray-700 text-white"
  [style.gridTemplateColumns]="gridTemplateColumns">
  <div></div>
  <app-icon [icon]="Icons.PHONES"></app-icon>
  <div class="font-medium cursor-pointer text-white">Phones</div>
  <app-icon [icon]="Icons.DEVIDER"></app-icon>
  <app-icon [icon]="Icons.COMPUTERS"></app-icon>
  <div class="font-medium cursor-pointer">Computers</div>
  <app-icon [icon]="Icons.DEVIDER"></app-icon>
  <app-icon [icon]="Icons.SMART_WATCHES"></app-icon>
  <div class="font-medium cursor-pointer">Smart Watches</div>
  <app-icon [icon]="Icons.DEVIDER"></app-icon>
  <app-icon [icon]="Icons.CAMERA"></app-icon>
  <div class="font-medium cursor-pointer">Cameras</div>
  <app-icon [icon]="Icons.DEVIDER"></app-icon>
  <app-icon [icon]="Icons.HEADPHONES"></app-icon>
  <div class="font-medium cursor-pointer">Headphones</div>
  <app-icon [icon]="Icons.DEVIDER"></app-icon>
  <app-icon [icon]="Icons.GAMING"></app-icon>
  <div class="font-medium cursor-pointer">Gaming</div>
  <div></div>
</div>