<div class="py-4 px-6 flex items-center justify-center gap-8 w-full border bg-gray-700 text-white flex-wrap">
  @for (cat of categories; track cat.categoryId) {
    <a
      [routerLink]="['/products']"
      [queryParams]="{ category: cat.categoryId }"
      class="flex items-center gap-2 font-medium cursor-pointer hover:text-gray-300 transition-colors no-underline text-white"
    >
      <app-icon [icon]="cat.icon"></app-icon>
      <span>{{ cat.label }}</span>
    </a>
    @if (!$last) {
      <app-icon [icon]="Icons.DEVIDER" class="text-gray-500"></app-icon>
    }
  }
</div>
