<div class="relative inline-block">
  
  <!-- Button -->
  <button
    type="button"
    (click)="toggle()"
    class="flex items-center gap-2 border border-gray-300 rounded-lg px-4 py-2 bg-white text-sm font-semibold space-x-20"
  >
    <span>{{ selectedOption }}</span>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4 text-gray-500 transition-transform duration-200"
      [class.rotate-180]="isOpen"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
    </svg>
  </button>

  <!-- Dropdown -->
  @if (isOpen) {
    <div class="absolute right-0 mt-1 w-44 bg-white border border-gray-200 rounded-lg shadow-md z-10">
      
      @for (option of options; track option) {
        <div
          class="px-3 py-2 text-sm cursor-pointer hover:bg-gray-100"
          [class.bg-gray-100]="option === selectedOption"
          (mousedown)="selectOption(option)"
        >
          {{ option }}
        </div>
      }

    </div>
  }

</div>